<div class="col-md-6 col-md-offset-3">
    <h2>Book a cab</h2>
    <form name="form" (ngSubmit)="book()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="model.name" required />
        </div>
        <div class="form-group">
            <label for="longitude">Longitude</label>
            <input type="longitude" class="form-control" name="longitude" [(ngModel)]="model.longitude" required />
        </div>
        <div class="form-group">
            <label for="lattitude">lattitude</label>
            <input type="lattitude" class="form-control" name="lattitude" [(ngModel)]="model.lattitude" required />
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Book</button>
        </div>
    </form>
</div>
